@model BookStore.FrontEnd.Site.Models.ViewModels.CartVm

@{
    ViewBag.Title = "Info";
}

<h2>購物車清單</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            品名
        </th>
        <th>
            數量
        </th>
        <th>
            小計
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                <button class="btn btn-sm btn-danger delQty" data-id="@item.Product.Id" data-qty="@item.Qty">減一</button>
                <button class="btn btn-sm btn-primary addQty" data-id="@item.Product.Id" data-qty="@item.Qty">加一</button>
            </td>
        </tr>
    }

</table>
<div class="total">
    <h4>Total: @Model.Total.ToString("#,#")</h4>

    @if (@Model.AllowCheckout)
    {
        <div class="checkout">
            <a href="/Cart/Checkout/" class="btn btn-primary">結帳</a>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".addQty").each(function () {
                $(this).on("click", function () {
                    var self = $(this);

                    var productId = self.attr("data-id");
                    var newQty = parseInt(self.attr("data-qty")) + 1;

                    // ajax 送出 request
                    $.get("/Cart/UpdateItem?productId=" + productId + "&newQty=" + newQty,
                        null,
                        function (result) {
                            // alert("已加入購物車！");
                            location.reload();
                        });
                });
            });

            $(".delQty").each(function () {
                $(this).on("click", function () {
                    var self = $(this);

                    var productId = self.attr("data-id");
                    var newQty = parseInt(self.attr("data-qty")) - 1;

                    // ajax 送出 request
                    $.get("/Cart/UpdateItem?productId=" + productId + "&newQty=" + newQty,
                        null,
                        function (result) {
                            // alert("已加入購物車！");
                            location.reload();
                        });
                });
            });
        });
    </script>
    }